$color-primary: #2E344D;
$color-secondary: #F5F7FB;

$gap-xs: 4px;
$gap-s: 8px;
$gap-m: 16px;
$gap-l: 24px;
$gap-xl: 32px;

$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 24px;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-family-primary: Helvetica, Arial, sans-serif;



